*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    font-family:Arial, sans-serif;

    background:#f4f4f4;

    color:#333;

}





nav{

    background:#111;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

}



nav ul{

    display:flex;

    list-style:none;

    gap:25px;

}


nav a{

    color:white;

    text-decoration:none;

}





header{

    background:linear-gradient(
        120deg,
        #0066ff,
        #00ccff
    );

    color:white;

    text-align:center;

    padding:80px 20px;

}



header h1{

    font-size:40px;

}


header button{

    margin-top:20px;

}






.card{


    background:white;

    margin:30px auto;

    padding:30px;

    width:80%;

    border-radius:15px;

    box-shadow:0 5px 15px gray;


}



.card h2{

    color:#0066ff;

    margin-bottom:20px;

}





li{

    margin:10px;

}





button{

    background:#00a651;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:5px;

    cursor:pointer;

}



button:hover{

    background:#007a3d;

}





footer{

    background:#111;

    color:white;

    text-align:center;

    padding:20px;

}